[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
typing-extensions = "*"
uvicorn = {extras = ["standard"], version = "*"}
psycopg2-binary = "*"
python-socketio = "*"
quart = "*"
quart-cors = "*"

[dev-packages]
pyre-check = "*"
flake8 = "*"
parameterized = "*"

[requires]
python_version = "3.9"
