[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
gitpython = "*"
flask-socketio = "*"

[dev-packages]
pyre-check = "*"
flake8 = "*"
parameterized = "*"

[requires]
python_version = "3.9"
